@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

table {
  border: 1px solid gray;
}

th {
  border: 1px solid gray;
}

tr {
  border-left: 1px solid gray;
}

.title {
  padding: 10px;
  font-family: "Roboto Condensed", bold;
  font-weight: bold;
  font-size: 25px;
  color: rgb(1, 103, 179);
}

.subtitle {
    padding: 10px;
    font-family: "Roboto Condensed", bold;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }