/*GLOBAL STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#root > main {
    flex-grow: 1;
    padding: 1rem;
}
/*END GLOBAL STYLES*/

/*HEADER STYLES*/
#layout-header {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#layout-header-logo {
    margin-left: -18px;
}


#layout-main {}