#body{
  background-color:#f0f2f5;
  height: 100vh;
}

html{
  overflow-y: hidden;
}

/*navbar*/
.mi-navbar{
  height: 80px;
}
#mi-navbar{
  background: red;
}

.logo-fintech{
  margin-left: 32px;
}

.links-nav{
  margin-left: 30px;
}
.link-nav{
  margin-left: 30px;
  color: #000000CC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
/* 
#connect-wallet{
  width: 210px;
  background-color: #0167B3;
  border-radius: 0.9rem;
  border: 0px;
  margin-right: 50px;
} */
#connect-wallet{
  height: 42px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 12px;
  border: 0px;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
p{
  font-size: 17px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: rgb(47, 202, 230);
  margin-bottom: 0 !important;
}

/* icono al lado del address */
#canvasicon{
  border-radius: 30px;
  margin-left: 5px;
}

#frmtBalance{
  font-size: 17px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #000000D6;
  margin-right: 22px;
}

#nav-container{
  width: 100%;
  margin: 0;
  max-width: 100%;
}

.campana{
  margin-right: 40px;
}

.address-meta{
  margin-bottom: 0;
  margin-right: 10px;
}

#ethaddress{
  font-size: 1rem;
  margin: 0;
}